<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand fw-bold" href="#">
      BHome
    </a>

    <!-- Botón menú móvil -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Links -->
      <ul class="navbar-nav ms-4 me-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">Interior</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Exterior</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>

      </ul>

      <!-- Search -->
      <form class="d-flex me-3">
        <input class="form-control" type="search" placeholder="Search">
      </form>

      <!-- Botón -->
      <button class="btn btn-dark rounded-pill px-4">
        Become Seller
      </button>

    </div>

  </div>
</nav>