<!-- your html code here -->
<style>
    div.textBox1 {
        background-color: rgb(255, 255, 255);
        width: 55rem;
        height: 30rem;
        border-radius: 1rem;
        flex-direction: column;
    }

    div.imgBox1 {
        background-color: black;
        width: 40rem;
        height: 30rem;
        border-radius: 1rem;
        margin-left: 0.5em;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .titulo1 {
        padding-right: 1em;
        padding-left: 1em;
        padding-bottom: 0.5em;
    }

    .texto1 {
        margin-left: 2em;
        margin-right: 2em;
    }

    .texto2 {
        margin-left: 2em;
        margin-right: 2em;
    }

    .btn-light {
        margin-right: 1em;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color: white;
        background-color: black;
        border-radius: 2em;
    }

    .btn-dark {
        padding-right: 2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background-color: gray;
        border: gray;
        border-radius: 2em;
    }

    .botones {
        margin-top: 1em;
    }

    i {
        margin-right: 0.5em;
    }
</style>


<div id="caja">
    <div class="textBox1">
        <h3 class="titulo1">Elegancia y Confort para tu Hogar
        </h3>
        <p class="texto1">Nuestro sillón de terciopelo gris es la pieza perfecta para cualquier sala de estar moderna,
            combinando diseño escandinavo con la máxima comodidad. Su forma ergonómica y patas de madera añaden calidez.
            "Un diseño que no solo ofrece confort, sino que eleva la estética de tu sala con un toque minimalista y
            sofisticado."</p>
        <div class="botones">
            <button type="button" class="btn btn-light">Ver detalles</button>
            <button type="button" class="btn btn-dark"><i class="fa-solid fa-paintbrush"></i> Personalizar</button>
        </div>
    </div>
    <div class="imgBox1">
        <img src="https://cdn.klasthome.com/461192-medium_default/sillon-de-lectura-beige.jpg" alt="Foto de Silla">
    </div>
</div>