<header class="position-relative text-center text-white">

<img 
src="https://www.wallsauce.com/images/2025-03/blobid1741774647781.jpg"
class="w-100"
style="
height: 700px;
object-fit: contain;
background: black;
"
>

<div class="position-absolute top-50 start-50 translate-middle">

<h1 class="display-2 fw-bold">
Diseñamos el hogar de tus sueños
</h1>

<p class="lead mt-4">
Creamos espacios únicos, modernos y funcionales pensados para adaptarse a tu estilo de vida y convertir tu casa en un lugar especial donde disfrutar cada momento.
</p>

<a class="btn btn-light btn-lg mt-4 rounded-pill px-4">
Descubrir diseños
</a>

</div>

</header>